.about-container {
    padding: 35px 50px;
}

.about-title {
    color: #F5F5F5;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.about-subtitle {
    color: #DCDCDC;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}