* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #23252C;
  /* background-color: rgb(243, 201, 139); */
}

#root {
  margin: 0 auto;
  max-width: 375px;
  /* background-color: #1A1B21; */
  background-color: rgb(51, 46, 60);
  border-radius: 10px;
  border: 2px solid rgb(43, 45, 66);
}