@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  /* background-color: #23252C; */
  background-color: whitesmoke;
}

#root {
  margin: 0 auto;
  max-width: 375px;
  background-color: white;
  border-radius: 10px;
  border: 1px #EEB1D5 solid;
}

.global-hover{
  @apply hover:border-[#EEB1D5]
        hover:text-[#EEB1D5];
}

.btn {
  @apply cursor-pointer 
          flex items-center gap-2.5 py-[6px] px-[10px]
          border border-[#1C0F13] rounded-md
          text-[16px] transition-all duration-200;
}